.green {background-color: #4CAF50;}
.blue {background-color: #008CBA;}
.red {background-color: #f44336;} 
.gray {background-color: #e7e7e7; color: black;} 
.black {background-color: #555555;}

.small {font-size: 16px} 
.medium {font-size: 22px}
.large {font-size: 30px}

.sm {font-size: 16px} 
.md {font-size: 22px}
.lg {font-size: 30px}

.sticky-button {
    right: 0;
    color: black;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    bottom: 100px;
    text-align: center;
    z-index: 9999;
    font-weight: 400;
    border: none;
    transition: all .4s;
}

.sticky-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 1, 0.81);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 1, 0.81);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 1, 0.81);
    opacity: 0.9;
}