.section {
  border: 2px solid #008cba;
  border-radius: 5px;
  width: 200px;
  height: 300px;
  position: relative;
}

.optionsList {
  background-color: #008cba;
  color: #fff;
  list-style: none;
  width: 100%;
  position: relative;
  left: 10%;
  border-radius: 5px;
}

.option {
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  color: #d3d3d3;
}
