.Login--form {
  align-items: center;
  border-radius: .3em;
  box-shadow: 0 1px 3px hsla(0, 30%, 10%, 80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1.8rem 1.8rem;
}

.Login--header {
  align-self: flex-start;
  color: #222;
  text-align: left;
}

.input-error {
  border-bottom: 2px solid red;
}

.Login--label {
  align-self: flex-start;
  text-align: left;
  margin-top: 0.3rem;
}

.Login--input {
  border: 1px solid #a4a4a4;
  border-bottom: 2px solid #4a4a4a;
  border-radius: 0.3rem;
  padding: 0.5rem 0.8rem;
  margin: 0.2rem;
  text-align: left;
  width: 96.5%;
}
