.green-button {background-color: #4CAF50;} /* Green */
.blue-button {background-color: #008CBA;} /* Blue */
.red-button {background-color: #f44336;} /* Red */ 
.gray-button {background-color: #e7e7e7; color: black;} /* Gray */ 
.black-button {background-color: #555555;} /* Black */

.small-button {font-size: 16px} 
.medium-button {font-size: 22px}
.large-button {font-size: 30px}

.sm-button {font-size: 16px} 
.md-button {font-size: 22px}
.lg-button {font-size: 30px}

.button {border-radius: 5px; padding:10px; color:'white'}